/* styles.css */
body {
    font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.team-section {
    text-align: center;
    padding: 50px 20px;
}

.team-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    position: relative;
}

/* .team-title::after {
    content: '';
    display: block;
    width: 100px;
    height: 5px;
    background-color: #ff7e5f;
    margin: 10px auto 0;
} */

.team-container {
    display: flex;
    justify-content: center;
    gap: 80px;
    flex-wrap: wrap;
    /* margin-top: 40px; */
}

.team-card {
    /* background-color: #F7F7F7; */
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    max-width: 300px;
    transition: .2s ease-in-out;
    cursor: pointer;
    transition: .2s ease-in-out;
    border: 3px solid #F7F7F7;
}

.team-card:hover {
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.team-image img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #ff7e5f;
}

.team-name {
    font-size: 1.2rem;
    color: #ff7e5f;
    margin: 15px 0;
}

.team-description {
    font-size: 0.9rem;
    color: #2f373d;
    text-align: justify;
}
  
.typing-container {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    display: flex;
    align-items: center;
    animation: blink 0.7s step-end infinite;
    /* text-align: center; */
}

/* Gaya khusus untuk tampilan tablet dan mobile */
@media (max-width: 1024px) {
    .typing-container {
        align-items: center; /* Vertikal tengah */
        justify-content: center; /* Horizontal tengah */
    }
}


    
  }
  .static-text {
    color: black;
  }
  .dynamic-text {
    color: #ff7e5f;
    /* border-right: 1px solid black; */
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    padding: 0.5rem;
  }

  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  
  .btn_new {
    background-image: -webkit-linear-gradient(131deg, #feb47b, #ff7e5f, #ff7e5f, #ff7e5f);
    background-image: -o-linear-gradient(131deg, #feb47b, #ff7e5f, #ff7e5f, #ff7e5f);
    background-image: linear-gradient(131deg, #feb47b, #ff7e5f, #ff7e5f, #ff7e5f);
  }
  /* line 39, E:/167 Bizcon Business/Bizcon_html/sass/_button.scss */
.btn_new {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 14px;
    color: #fff;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    text-transform: capitalize;
    margin-top: 45px;
    background-size: 300% 100%;
  }
  
  /* line 52, E:/167 Bizcon Business/Bizcon_html/sass/_button.scss */
  .btn_new:hover {
    color: #fff !important;
    background-size: 100% 100%;
  }
  
  @media (max-width: 576px) {
    /* line 39, E:/167 Bizcon Business/Bizcon_html/sass/_button.scss */
    .btn_new {
      padding: 14px 30px;
      margin-top: 25px;
    }
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    /* line 39, E:/167 Bizcon Business/Bizcon_html/sass/_button.scss */
    .btn_new {
      padding: 14px 30px;
      margin-top: 30px;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    /* line 39, E:/167 Bizcon Business/Bizcon_html/sass/_button.scss */
    .btn_new {
      padding: 14px 30px;
      margin-top: 30px;
    }
  }